
@viewport

{	 
		zoom: 1.0;
		width: extend-to-zoom;
}
body 

		{
		font-family: "Noto Sans", sans-serif;
		padding: 10px;
		background: #090909;
		}

body,input,textarea,select

		{
		font-family: "Noto Sans", sans-serif;
		font-size: 18px;
		line-height: 2em;
		}

h1,h2,h3,h4,h5,h6

		{
		font-weight: bold;
		}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a

		{
		color: inherit;
		}

strong, b
	
		{
		font-weight: bold;
		color: #000000;
		}
	
em, i

		{
		font-style: italic;
		color: inherit;
		}

a

		{
		text-decoration: underline;
		color: #ff0000;
		}
	
a:hover

		{
		text-decoration: underline overline;
		color: #4c0000;
		}

p, ul, ol, dl, table

		{
		margin-bottom: 1em;
		}

.table

		{
		display: table;   /* Allow the centering to work */
		margin: 0 auto;
		}

ul.faico li

		{
		font-size: 1em;
		display: inline-block;
		list-style: none;
		padding-top: 20px;
		}

img

		{
		width: 100%;
		display: inline-block;
		max-width: 100%; 
		height: auto;
		}

/* Favicons */
	
.fa 

		{
		padding: 15px;
		font-size: 40px;
  		width: 50px;
  		text-align: center;;
  		text-decoration: none;
 		margin: 2px 2px;
		border-radius: 25px;
		}

.fa:hover 

{
    	opacity: 0.7;
}

.fa-facebook 

{
		background: #000000;
		color: white;
}

.fa-twitter 

{
		background: #000000;
		color: white;
}

.fa-youtube 

{
		background: #000000;
		color: white;
}

.fa-instagram 

{
		background: #000000;
		color: white;
}

.fa-rss 

{
		background: #000000;
		color: white;
}	 

.fa-vimeo 

{
		background: #000000;
		color: white;
}	 

.fa-vk 

{
		background: #000000;
		color: white;
}	 
	
/* Buttons */
		
.button

{
		position: relative;
		display: inline-block;
		margin-top: 1em;
		padding: 0.8em 1em;
		margin-left: 2em;
		background: #131313;
		border-radius: 4px;
		text-decoration: none;
		text-transform: none;
		font-size: 1em;
		color: #7b7b7b;
			-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		cursor: pointer;
}

.button:hover

{
		background: #000;
		color: #FFF !important;
}

/* Header*/

#header

{
		padding: 2em 2em 2em 2em;
		text-align: center;
		position: relative;
		background: #ddd url(../images/header.jpg) no-repeat center;
		background-size: cover;
		z-index: 3;
}


#header .container

{
}
		
header

{
		margin-bottom: 2em;
}
	
header h1

{
		font-size: 2em;
		padding-bottom: 0.3em;
		padding-top: 0.3em;
}
	
header h2

{
		font-size: 1.9em;
		padding-bottom: 1em;
		padding-top: 0.6em;
		text-align: center;
}
		
header h3

{
		font-size: 1.5em;
}

header .byline

{
		margin: 0.5em 0 0 0;
		padding: 0.5em 0 0.5em 0;
}

header span

{
		font-size: 0.8em;
		text-align: center;
}

/* Logo*/

#logo
	
{
		margin-bottom: 1em;
		z-index: 3;
}
	
#logo h1
		
{
		color: #FFF;
		padding-bottom: 1em;
}
	
#logo h1 a
		
{
		display: block;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 900;
		color: #EAEAEB;
}

#logo span
		
{
		display: block;
		padding-top: 1em;
		letter-spacing: 1px;
		text-transform: none;
		font-size: 1.2em;
		color: #F3F2F3;
}			


/* Navegacion */

#nav

{
}
	
#nav ul

		{
			display: inline-block;
			padding: 0em 3em;
			border-radius: 40px;
			background: #131313;
			z-index: 2;
		}

#nav > ul > li

		{
			display: inline-block;
		}
		
#nav > ul > li:last-child

			{
			padding-right: 0;
			}

#nav > ul > li > a,
#nav > ul > li > span

			{
			display: block;
			padding: 1.3em 1.5em;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 200;
			font-size: 1em;
			outline: 0;
			color: #7b7b7b;
			}


#nav > ul > li > a:hover

			{
		color: #FFF;
			}

#nav li.active a

			{
		color: #FFF;
			}

#nav > ul > li > ul

			{
		display: none;
			}

/* Sidebar 

#sidebar

{}

.sidebar

		{
		width: 25%;
		height: 80%;
		display: block;
   	float: left;
   	padding: 1em 1em 1em 1em;
   	z-index: 0;
   	position: fixed;
   	text-align: center;
		}

    .sidebar a 
      {
        padding: 4px 4px 4px 0px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        text-align: left;
      }
  
    .sidebar a:hover
		{
        color: #FF0000;
		}
      
	.sidebar header h2
		{
		font-size: 2em;
		}/*/

/* Main */

#main

	   {
		position: relative;
		background: #fff url(../images/overlay.png) repeat;
		padding: 3em 10em 2em 1em;	
		z-index: 1;
		}
		
#content
 
		 {
		text-align: justify;
		width: 100%;
		padding: 2em 1em 1em 5em;
		}
	
.content

		{
		width: 100%;
		font-size: 1.2em;
		position: relative;
	   z-index: inherit;
		}
		
.content header h1
	
		{
		letter-spacing: -1px;
		font-size: 2em;
		}

.content header h2
	
		{
		letter-spacing: -1px;
		font-size: 2em;
		text-align: center;
		}
	
.content header h3
		
		{
		letter-spacing: -1px;
		font-size: 3em;
		padding: 1em 0em 0em 0em;
		}

#nab

		{
		width: 100%;
		left: 0em;
		top: 0em;
		}

.nab-fixed

		{
		width: 100%;
		position: fixed;
		top: 0em;
		}

.ul

{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.dropdown

{ 
  position: relative; 
  width: 100%; 
}

ul.dropdown li

{ 
  font-weight: bold; 
  float: left; 
  width: 130px; 
  position: relative;
  background: #2f3030;
}

ul.dropdown a:hover

{ 
  color: #2f3030; 
}

ul.dropdown li a 

{ 
  display: block; 
  padding: 0.3em;
  color: #F9F7EC; 
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

ul.dropdown li a:hover,
ul.dropdown li a.hover

{ 
  background: #ff0000;
  position: relative;
  color: #fff;
}


ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  z-index: 1000;
}

ul.dropdown ul li { 
  font-weight: normal; 
  background: #2f3030;
  color: #2f3030; 
  border-bottom: 1px solid #ccc; 
}

ul.dropdown ul li a{ 
  display: block; 
  color: #F9F7EC !important;
  background: #2f3030 !important;
} 

ul.dropdown ul li a:hover{
  display: block; 
  background: #ff0000 !important;
  color: #fff !important;
} 

.drop > a{
  position: relative;
}

.drop > a:after{
  content: normal;
  position: absolute;
  right: 10px;
  top: 40%;
  border-left: 5px solid transparent;
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  z-index: 999;
}

.drop > a:hover:after{
  content: normal;
   border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
}





			
/* Create two unequal columns that floats next to each other 
 Left column 
.leftcolumn {   
  float: left;
  width: 75%;
}

 Right column 
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px; }/*


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */

#footer

		{
		position: relative;
		margin: auto;
		display: block;
		background: #121212;
		color: rgba(255,255,255,.4);
		z-index: 2;
		padding: 2em 0em 2em 0em;
		clear:both;
		}

#footer h2

		{
		font-size: 1.7em;
		}
		
	
#footer header h2

		{
		color: #FFF;
		width: 50%;
		margin: auto;
		padding-top: 2.5em; 
		padding-left: 1.5em;
		font-size: 1.7em;
		}
	
#footer p

		{
		text-align: justify;
		}
	
/* Copyleft */
	
#copyleft

	{
		position: relative;
		display: block;
		padding: 3em 0em;
		margin: 0 auto;
		padding: 3em 0em;
		text-align: center;
		background: #000000;
		z-index: 3;
	}

#copyleft .container
	
	{	
	}
