body,input,textarea,select

		{
		font-size: 10pt;
		}
	
#logo h1 a
		
{
		display: block;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: 900;
		color: #EAEAEB;
}
 
header h2
		{
		font-size: 1.5em;
		letter-spacing: 0.3px;
		padding-bottom: 0.6em;
		padding-top: 0.6em;
		}
		
#main

	   {
		padding: 1em 1em 1em 1em;	
		z-index: 1;
		}
		
#content
 
 		{
		text-align: justify;
		width: 100%;
		padding-left: 1em;
		}
	
.content

		{
		width: 100%;
		font-size: 1em;
		text-align: justify;
		width: 100%;
		padding-left: 0.5em;
		}
		
img.center

		{
		width: 100%;
		display: inline-block;
		max-width: 100%; 
		height: auto;
		}
		
img.resize

 {
    width: 200px;
    height: auto;
    display: inline-block;
	 margin-left: 35%;
	 margin-right: auto;
	 padding-bottom: 2em;
 }
	
#footer

		{
		padding: 0em 2em 0em 2em;
		}

.mobile-container
		
{
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 600px)

{
	
	
.columna1 
{   
  float: left;
  width: 100%;
  padding-left: 6em;
  text-align: justify;
  font-size: 1em;
}
 
.columna2 
{
display: none;
}


#nab

{
  overflow: hidden;
  background-color: #333;
  position: absolute;
  float: none;
  width: 80%;
}

#nab-fixed

{
  overflow: hidden;
  background-color: #333;
  position: fixed;
}

#nab #submenu {
  display: none;
}

#nab a {
  color: white;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 8px;
  display: inline-block;
} 

#nab ul.dropdown

{ 
  position: relative; 
  width: 100%; 
}

#nab ul.dropdown li

{ 
  font-weight: bold; 
  float: left; 
  width: 5em; 
  position: relative;
  background: #2f3030;
}

#nab ul.dropdown a:hover

{ 
  color: #2f3030; 
}

#nab ul.dropdown li a 

{ 
  display: block; 
  padding: 0em;
  color: #F9F7EC; 
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

#nab ul.dropdown li a:hover,ul.dropdown li a.hover

{ 
  background: #ff0000;
  position: relative;
  color: #fff;
}

#nab ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  z-index: 1000;
}

#nab ul.dropdown ul li { 
  font-weight: normal; 
  background: #2f3030;
  color: #2f3030; 
  border-bottom: 1px solid #ccc; 
}

#nab ul.dropdown ul li a{ 
  display: block; 
  color: #F9F7EC !important;
  background: #2f3030 !important;
} 

#nab ul.dropdown ul li a:hover{
  display: block; 
  background: #ff0000 !important;
  color: #fff !important;
} 

#nab .drop > a{
  position: relative;
}

#nab .drop > a:after{
  content: normal;
  position: absolute;
  right: 10px;
  top: 40%;
  border-left: 5px solid transparent;
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  z-index: 999;
}

#nab .drop > a:hover:after{
  content: normal;
   border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
}

.videoWrapper {
display: grid;
  overflow: hidden;
  padding: 0em;
  margin-left: -6em;
  margin-right: -10em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

}