/* ----------------------------- Rows ----------------------- */
.row1,
.row2,
.row3, 
.row4,
.row5,

/* ---------------------------- Rows ------------------------ */
.row1{color:#929292; background-color:#D81E1E;}
.row2{color:#929292; background-color:#D81E1E;}
.row3{color:#929292; background-color:#FFFFFF;}
.row4{color:#CBCBCB; background-color:#32353C;}
.row5{color:#CBCBCB; background-color:#4A4E57;}

/* --------------------------- Cabecera -------------------*/

#header{padding:30px 0; text-align:center;}
#header *{margin:0; padding:0; line-height:1;}
#header h1{font-size:42px; letter-spacing:4px;}
#header p{font-size:.9rem; text-transform:lowercase;}


